<header>
    <meta charset="utf-8">
    <title>Sasha Metalsmeet</title>
    <script>
    </script>
    <style>
    </style>
</header>
<body style="background: #FFFFFF" style = "padding: 0px;">
<div id = "Hihgh" width="100%", height="135" style="background: #C7C2AF", style="margin: 0px;", style="padding: 0px;" >
    <menu>
        <li>Главная</li>
    </menu>
</div>
<div id = "box_Logo"  style='position: relative; background-color: #F9F3DB ;' width = "100%", height = "100%">
    <div style = "padding-left: 25%; padding-right: 25%;">
        <div style = "position: relative; left:50%;">
            <div style='position: absolute; left: -250px; top: 300px;'>
                <img src = "Figure/Logo.svg" height = "500px" width = "500px" style = "left:500px"/>
            </div>
            <div style='position: absolute; left: -550px; top: 415px;'>
                <img src = "Figure/box_03.svg" height = "700px" width = "700px" style = "left:0px"/>
            </div>
            <div style='position: absolute; left: -350px; top: 325px;'>
                <img src = "Figure/box_01.svg" height = "850px" width = "850px" style = "left:0px"/>
            </div>
            <div style='position: absolute; left: -400px; top: 400px;'>
                <img src = "Figure/box_02.svg" height = "500px" width = "500px" style = "left:0px"/>
            </div>
        </div>    
    </div>
</div>
<div id = "box_Logo" width = "4048", height = "1600" style = "background: #FFFFFF; position: relative;" >
    <p style = "color: 000000">Новые товары</p>>
</div>

</body>